
h1{ 
  font-size: 3.3rem;
  text-align: center;
  margin-top: 5%;
}
.backHome img{
  margin-left: 10%;
  width: 400px;
  height: 400px;
}
.backHome{
  display: flex;
  flex-direction: row;
}
#Back{
  margin-top: 7%;
  margin-left: 25%;
  color:rgb(252, 12, 92) ;
  font-size:2rem;
}
#error{
  margin-top: 5%;
}